body, html {
	position: relative; 
	overflow : hidden;
	height: 100%; 
	width : 100%;  
    margin: 0;
    cursor: none;}

.notice {
	position: relative; 
	z-index: 1;
    width: 50%; 
    top: 15%;  
    left: 7%; 
    text-align: left;
    width: 25%;
	color: darkslategrey; 
	

}
h1, p, a {
	font-family: 'Raleway', sans-serif; 
	color: darkslategrey; 
	margin: 0;
}
h1 {
	font-size: 3em; 
} 
p {
	font-size : 1em;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.8em;

}

.sub{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.8em;
    color: orange;

}

.full-size { 
	height : 100%; 
	width : 100%; 
	position: absolute; 
	top : 0; 
	left : 0;
	z-index: 0;
}
.blend-multiply {
	mix-blend-mode : multiply;
}
.blend-screen {
	mix-blend-mode : screen;
}


/* .mask-bg-color {
	background-color: #ffffff;
	z-index: 0;
} */
.animated-bg {
	background-image: url('Images/main/index-16.svg'); 
	background-position:center;
	background-color: #fff;  
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
	z-index: 1;
    
}
.element-mask {
	background-color: #fff;
	z-index: 2;
}

.circle-follow {
	position :absolute;
	overflow : hidden;
	background-color: #000000;
	width :320px; 
	height: 320px;
    top:calc( 50% - 160px); 
    left:calc( 50% - 160px); 
    -webkit-border-radius: 160px; 
    border-radius: 160px;  
    -webkit-transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);  
    transition: opacity 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);  
	opacity : 0; 
	z-index: 2;
}

.circle-follow.moving {
	opacity : 1;
}


/* hack to detect ie11 and above - blend mode not supported */
_:-ms-fullscreen, :root .letter-mask {background-color: transparent; }
_:-ms-fullscreen, :root .animated-bg {opacity: 0.2;}
_:-ms-fullscreen, :root .circle-follow {background-color:#ffffff; opacity: 0.2; }